---
import { processLiterals } from '@utils/literalProcessor';
interface Props {
  label: string;
  variant?: 'default' | 'success' | 'warning' | 'error';
}

const { label, variant = 'default' } = processLiterals<Props>(Astro.props);

const variants = {
  default: 'bg-neutral-100 text-neutral-800 dark:bg-neutral-700 dark:text-neutral-300',
  success: 'bg-green-100 text-green-800 dark:bg-green-700/30 dark:text-green-300',
  warning: 'bg-yellow-100 text-yellow-800 dark:bg-yellow-700/30 dark:text-yellow-300',
  error: 'bg-red-100 text-red-800 dark:bg-red-700/30 dark:text-red-300'
};
---

<span class={`inline-flex items-center gap-x-1.5 py-0.5 px-2 rounded-full text-xs font-medium ${variants[variant]}`}>
  {label}
</span>