---
// Loading state component for the hero section
---

<div class="relative min-h-[90vh] bg-gray-900 animate-pulse">
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="text-white/50 text-xl">Loading...</div>
  </div>
</div>